@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
    font-family: 'pretendard-Medium';
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    background-color: #F5F5F5;
}

/* 스크롤바 임시 디자인 */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #BCBEC0;
    border-radius: 10px;
}

/* Thumb hover state */
*::-webkit-scrollbar-thumb:hover {
    background-color: #808284;
}